{% extends "log.html" %}
{% block content %}
<div class="container">
    <h3> Your comment & feedback is very importent for future enhancement.</h3>
    <form action="{{ url_for("feedb") }}" method="post">
    <div class="form-group">
        <label for="comment">Comment / Feed back :</label>
         <textarea class="form-control" rows="5" id="comment" placeholder="comments write here" name="com"></textarea>
    </div>
        <button type="submit" class="btn btn-info"> submit</button>
    </form>
</div>
{% endblock %}
